<div class="row">
    <div class="col">
        <div class="page-description d-flex justify-content-between">
            <h1>Gimnasio</h1>
        </div>
    </div>
</div>
<div class="row">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Precios</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Descuentos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Historial pagos</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                <div class="col-12">
                    <div class="section-body">
                        <h3 class="pt-2">Lista de precios</h3>
                        <table id="listaPreciosTable" class="display" style="width:100%">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="col-12">
                    <div class="section-body">
                        <div class="d-flex justify-content-between">
                            <h3 class="pt-2">Promociones / descuentos</h3>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarDesc"
                                class="btn btn-primary">Agregar</button>
                        </div>
                        <table id="listaPromosTable" class="display" style="width:100%">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row">
                <div class="col-12">
                    <div class="section-body">
                        <h3 class="pt-2">Historial de pagos</h3>
                        <table id="historialPagosTable" class="display" style="width:100%">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
</div>

<!--MODAL PARA MODIFICAR PRECIO DE LOS CONCEPTOS -->

<div class="modal fade" id="modalModificarPrecio" tabindex="-1" aria-labelledby="modalModificarPrecioLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalModificarPrecioLabel">Cambiar precio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modificarPrecioForm">
                    <div class="row">
                        <div class="mb-6 col-12">
                            <label for="nuevo_precio" class="form-label">Nuevo precio</label>
                            <input type="number" name="nuevo_precio" id="nuevo_precio"
                                class="form-control CurrencyInput" aria-describedby="emailHelp">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="modificarPrecioForm" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL PARA AGREGAR CUPONES / DESCUENTOS -->

<div class="modal fade" id="modalAgregarDesc" tabindex="-1" aria-labelledby="modalAgregarDescLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarDescLabel">Agregar promoción / descuento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agregarDescForm">
                    <div class="row">
                        <div class="mb-2 col-12">
                            <label for="nombre_descuento" class="form-label">Nombre</label>
                            <input type="text" name="nombre_descuento" id="nombre_descuento"
                                class="form-control CurrencyInput" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-2 col-6">
                            <label for="codigo_descuento" class="form-label">Código</label>
                            <input type="text" name="codigo_descuento" id="codigo_descuento"
                                class="form-control CurrencyInput" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-2 col-6">
                            <label for="concepto_descuento" class="form-label">Concepto</label>
                            <select style="width: 100%;" class="form-select" id="concepto_descuento" name="concepto_descuento"
                                aria-label="Selecciona la modalidad">
                                <option value="" selected></option>
                                <option value="inscripcion">Inscripción</option>
                                <option value="todos_conceptos">Todos los reingresos (Sólo aplica porcentaje)</option>
                                <option value="diario">Día</option>
                                <option value="semanal">Semana</option>
                                <option value="mensual">Mes</option>
                                <option value="bimestral">Bimestre</option>
                                <option value="semestral">Semestre</option>
                                <option value="anual">Año</option>
                            </select>
                        </div>
                        <div class="mb-2 col-6">
                            <label for="tipo_descuento" class="form-label">Tipo</label>
                            <select style="width: 100%;" class="form-select" id="tipo_descuento" name="tipo_descuento"
                                aria-label="Selecciona la modalidad">
                                <option value="" selected></option>
                                <option value="porcentaje">Porcentaje</option>
                                <option value="precio_fijo">Precio fijo</option>
                                <option value="descontar_cantidad">Descontar cantidad</option>
                            </select>
                        </div>
                        <div class="mb-2 col-6">
                            <label for="valor_descuento" class="form-label">Valor</label>
                            <input type="text" name="valor_descuento" id="valor_descuento"
                                class="form-control CurrencyInput" aria-describedby="emailHelp">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="agregarDescForm" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ELIMINAR DESCUENTO -->

<div class="modal fade" id="eliminarDescuento" tabindex="-1" aria-labelledby="eliminarDescuentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarDescuentoLabel">Eliminar descuento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>¿Estas seguro que deseas eliminar este descuento?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No, cancelar.</button>
                <button type="button" id="btnEliminarDescuento" class="btn btn-danger" data-bs-dismiss="modal">Sí, eliminar.</button>
            </div>
        </div>
    </div>
</div>

<script>

    const action_iconsNP = `<div class="d-flex order-actions buttonsActions" bis_skin_checked="1">	
                                <a data-bs-toggle="modal" data-bs-target="#modalModificarPrecio"><i class="material-icons-two-tone">edit</i></a>
                            </div>`;



    $(document).ready(async function () {


        //INIXIALIZAR SELECT2
        var select2Concepto = $('#concepto_descuento').select2({
            minimumResultsForSearch: Infinity,
            placeholder: 'Selecciona una opción',
            allowClear: true
        });
        
        var select2Tipo = $('#tipo_descuento').select2({
            minimumResultsForSearch: Infinity,
            placeholder: 'Selecciona una opción',
            allowClear: true
        });

        var tablaPrecios = $('#listaPreciosTable').DataTable({
            "initComplete": function (settings, json) {


            },
            dom: 'lrt',
            columns: [
                { data: 'secuencia', title: 'secuencia', visible: false },
                { data: 'id', title: 'id', visible: false },
                { data: 'concepto_pago', title: 'Concepto', width: '50%', visible: true },
                { data: 'precioFormatted', title: 'Precio', orderable: false, width: '35%' },
                { title: '', class: 'details-control', orderable: false, data: null, defaultContent: action_iconsNP, width: '15%' },
            ],
            autoWidth: false,
            search: {
                return: true,
            },
            info: false,
            paging: false,
            targets: 'no-sort',
            bSort: true,
            order: [[0, 'asc']],

        });

        obtenerConceptos();
        

        const action_iconsPD = `<div class="d-flex order-actions buttonsActions" bis_skin_checked="1">	
                                    <a data-bs-toggle="modal" data-bs-target="#modalModificarPrecio"><i class="material-icons-two-tone">edit</i></a>
                                    <a data-bs-toggle="modal" data-bs-target="#eliminarDescuento"><i class="material-icons-two-tone">delete</i></a>
                                </div>`;

        var tablaPromos = $('#listaPromosTable').DataTable({
            "initComplete": function (settings, json) {


            },
            dom: 'lrt',
            columns: [
                { data: 'nombre_descuento', title: 'Nombre', width: '40%', visible: true },
                { data: 'codigo_descuento', title: 'Código', width: '20%', visible: true },
                { data: 'tipo_descuento', title: 'Tipo', orderable: false, width: '15%' },
                { data: 'valor_descuento', title: 'Valor', orderable: false, width: '15%' },
                { class: 'details-control', orderable: false, data: null, defaultContent: action_iconsPD, width: '10%' },
            ],
            autoWidth: false,
            search: {
                return: true,
            },
            info: false,
            paging: false,
            targets: 'no-sort',
            bSort: true,
            order: [[0, 'asc']],

        });

        obtenerDescuentos();

        var tablaPagos = $('#historialPagosTable').DataTable({
            "initComplete": function (settings, json) {


            },
            dom: 'lrt',
            columns: [
                { data: 'fecha', title: 'Fecha de pago', width: '20%', visible: true },
                { data: 'nombre_usuario', title: 'Usuario', width: '35%', visible: true },
                { data: 'pago_concepto', title: 'Concepto', width: '15%', visible: true },
                { data: 'pago_inscripcion_text', title: 'Inscripción', width: '15%', visible: true },
                { data: 'precio_total', title: 'Total', width: '15%', orderable: true }
            ],
            autoWidth: false,
            search: {
                return: true,
            },
            info: false,
            paging: false,
            targets: 'no-sort',
            bSort: true,
            order: [[0, 'asc']],

        });

        await obtenerPagos()

        async function obtenerConceptos() {

            tablaPrecios.clear().draw()

            var conceptos = await $.get('/gimnasio/obtener/conceptos');

            console.log({ conceptos });

            nuevasRows = [];

            conceptos.orders.forEach(row => {
                row.precioFormatted = `$ ${row.precio_pago}`;
                nuevasRows.push(row)
            });

            tablaPrecios.rows.add(nuevasRows).draw();

        }

        $('#listaPreciosTable tbody').on('click', 'tr', function () {

            var datosFila = tablaPrecios.row(this).data();
            var indiceFila = tablaPrecios.row(this).index();

            $('#modalModificarPrecio').data(datosFila);

        });

        $('#modalModificarPrecio').on('shown.bs.modal', function () {

            let data = $('#modalModificarPrecio').data();
            console.log({data});
            $('#nuevo_precio').val(data.precio_pago);

        });

        $('#modificarPrecioForm').on('submit', async function (event) {

            event.preventDefault();

            const data = $('#modalModificarPrecio').data();

            const precio_pago = $('#nuevo_precio').val()

            await $.post('/gimnasio/actualizar/precio', { id: data.id, precio_pago });

            $('#modalModificarPrecio').modal('hide');

            obtenerConceptos();

        });


        $('#agregarDescForm').on('submit', async function (event) {

            event.preventDefault();

            const $form = $("#agregarDescForm");
            const data = getFormData($form);

            console.log({ data });

            const postDesc = await asyncPostAjax('/descuento/agregar', data);


            if (postDesc.state = 'success') {

                $('#modalAgregarDesc').modal('toggle');
                showNotification(postDesc.state, postDesc.message);
                obtenerDescuentos();

            }


        });

        async function obtenerDescuentos() {

            tablaPromos.clear().draw()

            var descuentos = await $.get('/gimnasio/obtener/descuentos');

            console.log({ descuentos });

            tablaPromos.rows.add(descuentos.desc).draw();

        }


        $('#listaPromosTable tbody').on('click', 'tr', function () {

            var datosFila = tablaPromos.row(this).data();
            var indiceFila = tablaPromos.row(this).index();
            console.log({datosFila});

            $('#eliminarDescuento').data(datosFila);

        });

        $("#btnEliminarDescuento").click( async function(){

            let datos = $('#eliminarDescuento').data();

            const delDesc = await asyncPostAjax('/gimnasio/eliminar/descuentos', { id:datos.id });


            if (delDesc.state = 'success') {

                showNotification(delDesc.state, delDesc.message);
                obtenerDescuentos();

            }

            console.log({datos});

        });


        async function obtenerPagos() {

            tablaPagos.clear().draw()

            var pagos = await $.get('/gimnasio/obtener/pagos');

            console.log({ pagos });

            nuevasRows = [];

            for (const row of pagos.orders) {

                var dataUser = await $.post('/usuarios/consultar/', {id:row.id_usuario});

                if(row.pago_inscripcion == 'true'){
                    row.pago_inscripcion_text = 'Sí'
                }else{
                    row.pago_inscripcion_text = 'No'
                }
                row.nombre_usuario = dataUser.datos.nombre_usuario;

                row.fecha = toDate(row.fecha_pago);

                nuevasRows.push(row)

            };

            console.log({nuevasRows});

            tablaPagos.rows.add(nuevasRows).draw();

        }


        function toDate(timestamp) {
            // Crear un objeto de fecha a partir del timestamp en milisegundos
            const fechaObjeto = new Date(timestamp);

            // Obtener los componentes de la fecha
            const dia = String(fechaObjeto.getDate()).padStart(2, '0'); // Agregar ceros a la izquierda si el día es menor a 10
            const mes = String(fechaObjeto.getMonth() + 1).padStart(2, '0'); // Los meses en JavaScript van de 0 a 11, se suma 1 y se agregan ceros a la izquierda si el mes es menor a 10
            const anio = fechaObjeto.getFullYear();

            // Formatear la fecha como DD/MM/YYYY
            const fechaFormateada = `${dia}/${mes}/${anio}`;

            return fechaFormateada;
        }




















        function getFormData($form) {

            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {

                indexed_array[n['name']] = n['value'].trim();

            });

            return indexed_array;

        }

        async function asyncPostAjax(path, data,) {

            return await $.ajax({

                type: 'POST',
                url: path,
                data: JSON.stringify(data),
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                success: function (result) {

                    return result;

                },

            });

        }

        async function asyncGetAjax(path) {

            return await $.ajax({

                type: 'GET',
                url: path,
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                },
                success: function (result) {

                    return result;

                },

            });

        }


    })





</script>