<div class="row">
    <div class="col">
        <div class="page-description d-flex justify-content-between">
            <h1>Gimnasio</h1>
        </div>
    </div>
</div>
<div class="row">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Precios</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Descuentos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Historial pagos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-graficos-tab" data-bs-toggle="pill" data-bs-target="#pills-graficos"
                type="button" role="tab" aria-controls="pills-graficos" aria-selected="false">Estadísticas</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                <div class="col-12">
                    <div class="section-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="pt-2">Lista de precios</h3>
                            <div class="d-flex align-items-center">
                                <div class="form-check form-switch me-3 mt-1 pt-1">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Permite tener diferente tarifa dependiendo del horario. Si se aplica el usuario sólo podrá tener acceso al gimnasio en el horario que haya elegido.">
                                    <h6 class="form-check-label mt-1" for="flexSwitchCheckDefault">Horarios dinámicos</h6>
                                </div>
                                <button class="btn btn-primary">Establecer horarios</button>
                            </div>
                            
                        </div>
                        <table id="listaPreciosTable" class="hover" style="width:100%">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="col-12">
                    <div class="section-body">
                        <div class="d-flex justify-content-between mb-4">
                            <h3 class="pt-2">Promociones / descuentos</h3>
                            <button id="btnSubmitAgregarDesc" type="button" data-bs-toggle="modal"
                                data-bs-target="#modalAgregarDesc" class="btn btn-primary">Agregar</button>
                        </div>
                        <table id="listaPromosTable" class="hover" style="width:100%">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row">
                <div class="col-12">
                    <div class="section-body">
                        <div class="mb-4">
                            <h3 class="pt-2">Historial de pagos</h3>
                        </div>
                        <table id="historialPagosTable" class="hover" style="width:100%">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-graficos" role="tabpanel" aria-labelledby="pills-graficos-tab">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-primary">
                                    <i class="material-icons-outlined">paid</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Ingresos mensuales</span>
                                    <span class="widget-stats-amount" id="ingMensualesSpan">...</span>
                                    <span class="widget-stats-info" id="cantMovimientos">...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-primary">
                                    <i class="material-icons-outlined">paid</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Ingresos anuales</span>
                                    <span class="widget-stats-amount" id="ingAnualesSpan">...</span>
                                    <span class="widget-stats-info" id="cantMovimientosAnual">...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-primary">
                                    <i class="material-icons-outlined">schedule</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Hora más concurrida</span>
                                    <span class="widget-stats-amount">19:00</span>
                                    <span class="widget-stats-info">87 usuarios</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-between">

                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-primary">
                                    <i class="material-icons-outlined">person</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Usuarios activos</span>
                                    <span class="widget-stats-amount" id="cantUsuariosActivos">...</span>
                                    <span class="widget-stats-info" id="usuariosUnicosMes">...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="card widget widget-stats">
                        <div class="card-body">
                            <div class="widget-stats-container d-flex">
                                <div class="widget-stats-icon widget-stats-icon-warning">
                                    <i class="material-icons-outlined">person</i>
                                </div>
                                <div class="widget-stats-content flex-fill">
                                    <span class="widget-stats-title">Usuarios no renovados</span>
                                    <span class="widget-stats-amount" id="cantUsuariosNoRenovados">...</span>
                                    <span class="widget-stats-info" id="periodoNoRenovados">...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-body">
                        <div class="row">
                            <div class="mb-4">
                                <h3 class="pt-2">Usuarios nuevos mensuales</h3>
                            </div>
                            <canvas id="usuariosActivosGrafico"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="section-body">
                        <div class="row">
                            <div class="mb-4">
                                <h3 class="pt-2">Ingresos mensuales</h3>
                            </div>
                            <canvas id="ingresosMensualesGrafico"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--MODAL PARA MODIFICAR PRECIO DE LOS CONCEPTOS -->

<div class="modal fade" id="modalModificarPrecio" tabindex="-1" aria-labelledby="modalModificarPrecioLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalModificarPrecioLabel">Cambiar precio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modificarPrecioForm">
                    <div class="row">
                        <div class="mb-6 col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                <input type="text" type="number" name="nuevo_precio" id="nuevo_precio"
                                    class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="modificarPrecioForm" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL PARA AGREGAR CUPONES / DESCUENTOS -->

<div class="modal fade" id="modalAgregarDesc" tabindex="-1" aria-labelledby="modalAgregarDescLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarDescLabel">Agregar promoción / descuento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agregarDescForm">
                    <div class="row">
                        <div class="mb-2 col-12">
                            <label for="nombre_descuento" class="form-label">Descripción</label>
                            <input type="text" name="nombre_descuento" id="nombre_descuento"
                                class="form-control CurrencyInput" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-2 col-6">
                            <label for="codigo_descuento" class="form-label">Código</label>
                            <input type="text" name="codigo_descuento" id="codigo_descuento"
                                class="form-control CurrencyInput" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-2 col-6">
                            <label for="concepto_descuento" class="form-label">Concepto</label>
                            <select style="width: 100%;" class="form-select" id="concepto_descuento"
                                name="concepto_descuento" aria-label="Selecciona la modalidad">
                                <option value="" selected></option>
                                <option value="inscripcion">Inscripción</option>
                                <option value="todos_conceptos">Todos los reingresos (Sólo aplica porcentaje)</option>
                                <option value="diario">Día</option>
                                <option value="semanal">Semana</option>
                                <option value="mensual">Mes</option>
                                <option value="bimestral">Bimestre</option>
                                <option value="semestral">Semestre</option>
                                <option value="anual">Año</option>
                            </select>
                        </div>
                        <div class="mb-2 col-6">
                            <label for="tipo_descuento" class="form-label">Tipo</label>
                            <select style="width: 100%;" class="form-select" id="tipo_descuento" name="tipo_descuento"
                                aria-label="Selecciona la modalidad">
                                <option value="" selected></option>
                                <option value="porcentaje">Porcentaje</option>
                                <option value="precio_fijo">Precio fijo</option>
                                <option value="descontar_cantidad">Descontar cantidad</option>
                            </select>
                        </div>
                        <div class="mb-2 col-6">
                            <label for="valor_descuento" class="form-label">Valor</label>
                            <input type="text" name="valor_descuento" id="valor_descuento" class="form-control"
                                aria-describedby="emailHelp">
                        </div>

                        <hr class="mt-4">

                        <h5 class="mt-2 mb-3">Restricciones</h5>

                        <div class="mb-2 col-4">
                            <label for="limite_usos" class="form-label">Limite de usos</label>
                            <input type="number" min="0" name="limite_usos" id="limite_usos" class="form-control"
                                aria-describedby="emailHelp">
                            <div id="passwordHelpBlock" class="form-text">
                                Límite de veces que el cupón puede ser usado. <br>Si no se pone nada, los usos serán ilimitados.
                            </div>
                        </div>
                        <div class="mb-2 col-4">
                            <label for="limite_usuario" class="form-label">Limite de usos por usuario</label>
                            <input type="number" min="0" name="limite_usuario" id="limite_usuario" class="form-control"
                                aria-describedby="emailHelp">
                            <div id="passwordHelpBlock" class="form-text">
                                Límite de veces que el cupón puede ser aplicado a un mismo usuario.<br>Si no se pone nada los usos serán ilimitados.
                            </div>
                        </div>
                        <div class="mb-2 col-4">
                            <label for="fecha_vencimiento" class="form-label">Fecha de vencimiento</label>
                            <input type="date" name="fecha_vencimiento" id="fecha_vencimiento" class="form-control"
                                min="" aria-describedby="emailHelp">
                            <div id="passwordHelpBlock" class="form-text">
                                Fecha de caducidad del cupón, si no se aplica el cupón no caducará.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="agregarDescForm" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ELIMINAR DESCUENTO -->

<div class="modal fade" id="eliminarDescuento" tabindex="-1" aria-labelledby="eliminarDescuentoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarDescuentoLabel">Eliminar descuento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>¿Estas seguro que deseas eliminar este descuento?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No, cancelar.</button>
                <button type="button" id="btnEliminarDescuento" class="btn btn-danger" data-bs-dismiss="modal">Sí,
                    eliminar.</button>
            </div>
        </div>
    </div>
</div>


<script src="../assets/scripts/gimnasio/estadisticas.js"></script>
<script src="../assets/scripts/gimnasio/gimnasio.js"></script>