<div class="row">
    <div class="col">
        <div class="page-description">
            <h1>Inicio</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card widget widget-stats">
            <div class="card-body">
                <canvas id="miGrafico"></canvas>
            </div>
        </div>
    </div>
</div>



<script>



$(document).ready(async function () {

    var ctx = document.getElementById('miGrafico').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril'],
        datasets: [{
          label: 'Usuarios mensuales',
          data: [140, 127, 155, 227],
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });






})







</script>