<div class="row">
    <div class="col">
        <div class="page-description d-flex justify-content-between">
            <h1>Usuarios</h1>
            <button id="btnAgregarUsuario" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#agregarUsuario">Agregar</button>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="section-body">
            <table id="usuariosTable" class="hover" style="width:100%">
                <thead>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>

    </div>
</div>





<!--MODALES-->

<!--MODAL AGREGAR USUARIOS-->

<div class="modal fade" id="agregarUsuario" tabindex="-1" aria-labelledby="agregarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarUsuarioLabel">Agregar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="agregarUsuarioForm">
                    <div class="row">

                        <h5>Datos personales</h5>
                        <div class="mb-3 col-12">
                            <label for="nombre_usuario" class="form-label">Nombre completo</label>
                            <input type="text" name="nombre_usuario" id="nombre_usuario" class="form-control"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-12">
                            <label for="telefono_usuario" class="form-label">Número de teléfono</label>
                            <input type="number" name="telefono_usuario" id="telefono_usuario" class="form-control"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="nombre" class="form-label">Sexo</label>
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" value="hombre" name="radio_sexo" id="radio_sexo1"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="radio_sexo1">Hombre</label>

                                <input type="radio" class="btn-check" value="mujer" name="radio_sexo" id="radio_sexo2"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="radio_sexo2">Mujer</label>

                            </div>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento</label>
                            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control"
                                id="fechaPago">
                        </div>

                        <hr class="mt-2">

                        <h5 class="mt-2">Contacto de emergencia</h5>

                        <div class="mb-3 col-12">
                            <label for="nombre_contacto" class="form-label">Nombre completo</label>
                            <input type="text" name="nombre_contacto" id="nombre_contacto" class="form-control"
                                aria-describedby="emailHelp">

                        </div>

                        <div class="mb-3 col-12">
                            <label for="telefono_contacto" class="form-label">Número de teléfono</label>
                            <input type="number" name="telefono_contacto" class="form-control" id="telefono_contacto"
                                aria-describedby="emailHelp">
                        </div>

                        <!--<div id="emailHelp" class="form-text">Ingresa la modalidad de pago antes de seleccionar la fecha</div>-->
                        <!-- 
                        <hr class="mt-2">

                        <h5 class="mt-2">Facturación</h5>

                        <div class="mb-3 col-6">

                            <label for="modalidad" class="form-label">Modalidad de ingreso</label>
                            <select class="form-select" id="modalidad" name="modalidad"
                                aria-label="Selecciona la modalidad">
                                <option value="default" selected>Selecciona la modalidad</option>
                                <option value="diario">Diario</option>
                                <option value="semanal">Semanal</option>
                                <option value="mensual">Mensual</option>
                                <option value="bimestral">Bimestral</option>
                                <option value="semestral">Semestral</option>
                                <option value="anual">Anual</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="fecha_ingreso" class="form-label">Fecha de pago</label>
                            <input type="text" name="fecha_ingreso" id="fecha_ingreso" class="form-control" id="fechaPago">
                        </div>-->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="agregarUsuarioForm" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ELIMINAR USUARIO -->

<div class="modal fade" id="eliminarUsuario" tabindex="-1" aria-labelledby="eliminarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarUsuarioLabel">Eliminar usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>¿Estas seguro que deseas eliminar a...?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No, cancelar.</button>
                <button type="button" id="btnEliminarUsuario" class="btn btn-danger" data-bs-dismiss="modal">Sí,
                    eliminar.</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL REGISTRAR PAGO -->

<div class="modal fade" id="registrarPago" tabindex="-1" aria-labelledby="registrarPagoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrarPagoLabel">Registrar pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="pagoUsuario">
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="modalidad" class="form-label">Modalidad de pago</label>
                            <select style="width: 100%;" class="form-select" id="selectModalidadPago"
                                name="pago_modalidad" aria-label="Selecciona la modalidad">
                                <option value=""></option>
                                <option value="9002cce4-ae35-48a9-96e9-90fb87ff7487">Día</option>
                                <option value="d698cdcd-eb40-40de-a348-21d5c8cd23cd">Semana</option>
                                <option value="9f704126-6481-47ed-b2c4-d9a9795cc343">Mes</option>
                                <option value="98471aec-3835-4abc-baf7-fcdd407c6e09">Bimestre</option>
                                <option value="4d0d79d8-37ce-471f-a135-362b881a5965">Semestre</option>
                                <option value="5b9ee11f-21e5-4409-97d7-73a1664d80bc">Año</option>
                            </select>
                        </div>
                        <!--<div class="mb-3 col-5">
                            <label for="fecha_ingreso" class="form-label">Fecha de pago</label>
                            <input type="date" name="fecha_de_pago" class="form-control" id="fechaPago">
                        </div>-->
                        <div class="mb-3 col-4">
                            <label for="descuentos_aplicados" class="form-label">Método de pago</label>
                            <div>
                                <select style="width: 100%;" class="form-select" id="selectMetodoPago"
                                name="metodo_pago" aria-label="Selecciona la modalidad">
                                    <option value=""></option>
                                    <option value="efectivo">Efectivo</option>
                                    <option value="tarjeta">Tarjeta crédito / débito</option>
                                    <option value="deposito">Depósito</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 col-4">
                            <label for="descuentos_aplicados" class="form-label">Código de descuento</label>
                            <div>
                                <select style="width: 100%" class="select2-codigos-descuentos"
                                    name="codigos_descuento[]" multiple="multiple">
                                </select>
                            </div>

                        </div>
                        
                        <div class="mb-3 col-5">
                            <div class="form-check">
                                <input class="form-check-input" name="pago_inscripcion" type="checkbox"
                                    value="f109714f-563c-48ae-9df1-5ecc7e3236e1" id="checkInscripcionPago">
                                <label class="form-check-label" for="checkInscripcionPago">
                                    Inscripción
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="container pt-5">
                    <div class="row text-end d-flex justify-content-end">
                        <div class="col-6">
                            <h5>Inscripción</h5>
                        </div>
                        <div class="col-4">
                            <h4 id="precioInscripcion">$00.00</h4>
                        </div>
                        <div class="col-6">
                            <h5>Modalidad</h5>
                        </div>
                        <div class="col-4">
                            <h4 id="precioModalidad">$00.00</h4>
                        </div>
                        <div class="col-6">
                            <h5>Total</h5>
                        </div>
                        <div class="col-4">
                            <h4 id="totalCobro" class="text-success">$00.00</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" form="pagoUsuario" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>



<script src="../assets/scripts/usuarios/usuarios.js"></script>