/* Your Custom CSS Goes here */

.modal-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px;
}

.app-menu>ul>li>a {
    /*text-decoration: none;
    color: #40475c;
    font-size: 14px;
    margin: 3px 15px;
    padding: 10px 15px;
    display: block;
    border-radius: 3px;
    line-height: 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;*/
    text-decoration: none;
    color: #616778;
    font-size: 18px;
    margin: 5px 15px;
    padding: 30px 15px !important;
    display: block;
    border-radius: 3px;
    line-height: 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.section-body {
    flex: 1 1 auto;
    padding: 1.3rem 2.5rem;
    background: white;
    border-radius: 15px;
}

.buttonsActions i{
    opacity: 0.4;
}

.buttonsActions i:hover{
    opacity: 1;
}

.buttonsActions a{
    color: black;
    margin: 0 2px;
    cursor: pointer;
}

/*css notification*/
.notificacion_alert{
	position: fixed;
	top: 70px;
	right: 30px;
	z-index: 999999;
}

.notificacion_alert .text-white.message{
	padding: 15px;
}


/*css notification*/



.modalReconocimiento .modal-header{
    border-radius: 12px 12px 0 0;
}

.modalReconocimiento h4{
    font-size: 25px;
}

.select2-container {
    z-index: 9999 !important; /* Ajusta el valor según sea necesario */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    opacity: 1;
    background: #2269f5;
    color: white;
}

.nav-item{
    margin: 5px;
}

table.dataTable.no-footer {
    border-bottom: 0px solid rgba(0, 0, 0, 0.3);
}

.app-auth-sign-in .app-auth-background-custom {
    background: url(../images/backgrounds/img-sign-in.png) no-repeat;
    background-size: 60%;
    background-position: center;
}

.app-auth-lock-screen .app-auth-background-custom, .app-auth-sign-in .app-auth-background-custom, .app-auth-sign-up .app-auth-background-custom {
    flex: 1;
    height: 100%;
    content: '';
    display: block;
}



.app-auth-sign-up .app-auth-background-customsu {
    background: url(../images/backgrounds/img-sign-up.png) no-repeat;
    background-size: 60%;
    background-position: center;
}

.app-auth-lock-screen .app-auth-background-customsu, .app-auth-sign-in .app-auth-background-customsu, .app-auth-sign-up .app-auth-background-customsu {
    flex: 1;
    height: 100%;
    content: '';
    display: block;
}

